<p id="notice"><%= notice %></p>
<div class="text-center">
  <%= link_to 'New Post', new_post_path %>
</div>
<br>

<% @posts.reverse.each do |post| %>
  <div class="text-center">
    <h1><%= link_to "#{post.title}", post %></h1>
    <br>
    <section class="blog-contents">
      <p><%= post.content %></p>
    </section>
    <br>
    <small>
      <%= link_to "Comments (#{post.comments.size})", post %> |
      <%= link_to 'Edit entry', edit_post_path(post) %> |
      <%= link_to 'Delete entry', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </small>
  </div>
  <br>
<% end %>
