<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="text-center blog-title">
  <h1><%= @post.title %></h1>
  <small>Posted on: <%= @post.created_at.strftime('%d/%m/%Y') %></small>
</div>
<br>

<div class="blog-content row">
  <div class="center">
    <p>
      <%= @post.content %>
    </p>
  </div>
</div>
<div class="blog-controls text-center">
  <small>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </small>
</div>
<br>

<div class="row">
  <div class="new-comment center col-md-5">
    <h4>Leave a new comment</h4>
    <form class="comment-form" data-post-id="<%= params[:id] %>">
      <div class="form-group">
        <label for="commenter">Name</label>
        <input type="text" name="commenter" class="form-control">
      </div>
      <div class="form-group">
        <label for="comment" class="">Comment</label>
        <textarea type="text" name="comment" data-behavior="post_comment" class="form-control"></textarea>
      </div>
      <button type="submit" id="post_btn" class="btn btn-default">New comment</button>
    </form>
  </div>
  <br>
</div>

<div class="row">
  <div class="comments-area center col-md-5">
    <h3>Comments</h3>
    <div id="comments">
      <%= render @post.comments %>
    </div>
  </div>

</div>
